/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - mock
 * 3.0 - base
 * 4.0 - header&footer
 * 5.0 - base-contents
 * 6.0 - list
 * 7.0 - infomation
 * 8.0 - serch-form
 * 9.0 - exhibit
 * 10.0 - payment
 * 11.0 - top page
 * etc
 * -----------------------------------------------------------------------------*/
 /**
 * colors
base-color		#20c2d4
active-color	#ef088a
th-color		#dfedfa
 * -----------------------------------------------------------------------------*/
/**
 * 1.0 Reset
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 * -----------------------------------------------------------------------------*/

@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 1em;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html, body{
	width:100%;
	line-height:1.8;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body,
button,
input,
select,
textarea {
	color: #333;
	font:0.9em "Meiryo","メイリオ","Lucida Grande","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3", sans-serif;
	font-weight: 400;
	line-height: 1.7;
}

body {
	background: #fcfcfc;
}

a,div,p,span,ul,li,input[type=submit]{
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color:#222;
	font-weight: 700;
	margin: 8px 0;
}

h1 {
	font-size: 1.3em;
	line-height: 1.4;
}

h2 {
	font-size: 1.2em;
	line-height: 1;
	color:#111;
}


h3 {
	font-size: 1.1em;
	line-height: 1.4;
}

h4 {
	font-size: 1.1em;
	line-height: 1.4;
}

h5 {
	font-size: 1em;
	line-height: 1.4;
}

h6 {
	font-size: 1em;
	line-height: 1.5;
}

address {
	font-style: italic;
	margin-bottom: 24px;
}

abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}

b,
strong {
	font-weight: 700;
}

cite,
dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

p {
	margin-bottom: 24px;
}
blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	color: #767676;
	font-size: 19px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2631578947;
	margin-bottom: 24px;
}

blockquote cite,
blockquote small {
	color: #2b2b2b;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

dl {
	margin-bottom: 24px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 24px;
}

ul,
ol {
	list-style: none;
	margin: 0;
}

li > ul,
li > ol {
	margin: 0 0 0 20px;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 24px;
	padding: 11px 12px 0;
}

legend {
	white-space: normal;
}

button,
input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	display:block;
	min-height:32px;
	color:#fff;
	background:#22a2cd;
	margin:4px 0 !important;
	padding:16px;
	line-height:1;
	border:solid 1px #22a2cd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
input[type="submit"]{
	height:42px;
}



button[disabled],
input[disabled] 	

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

select{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
	background:#3fb7d8 url(/img/a-down.png) no-repeat;
	background-position: right center;
	background-size:20px;
	color:#fff;
	font-size:1em;
	border:solid 1px #3fb7d8;
	padding:2px 32px 2px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[disabled],input[readonly]{
	background:none !important;
	border:none !important;
	text-align:right !important;
}

table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}

td {
	border-width: 0 1px 1px 0;
}

del {
	color: #767676;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 16px;
}

/* Support a widely-adopted but non-standard selector for text selection styles
 * to achieve a better experience. See https://core.trac.wordpress.org/ticket/25898.
 */
::selection {
	background: #24890d;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: #24890d;
	color: #fff;
	text-shadow: none;
}

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*etc-common*/
.fullheight{
	height:100%;
}

/* -----------------------------------------------------------------------------*/
/**
* 2.0 mock
* -----------------------------------------------------------------------------*/
.mock-sidemenu{
	display: none;
}

/* -----------------------------------------------------------------------------*/
/**
* 3.0 base
* -----------------------------------------------------------------------------*/
#container{
	width:100%;
	height:100%;
	min-height: 100%;
	text-align:left;
}
section{
	max-width:100%;
	margin:0 auto;
	padding:8px 0;
}
.padder{
	width:96%;
	margin:16px auto;
}
.inner{
	width:100%;
	margin:0 auto;
}
.split{ 
	display: block;
	width:100%; 
}
.split li{
	display: block;
	overflow: visible;
}

.input-split{
	display: table;
	width:100%;
	border-collapse: separate;
	border-spacing: 0 0;
	margin-bottom:16px;
}
.input-split li{
	display: table-cell;
	vertical-align: middle;
	padding:0;
}
.input-split li input[type=text],
.input-split li input[type=text],
.input-split li input[type=email],
.input-split li input[type=password],
.input-split li input[type=number],
.input-split li input[type=submit]{
	height:32px;
	margin:0 !important;
}
.input-split li input[type=text],
.input-split li input[type=email],
.input-split li input[type=password],
.input-split li input[type=number]{
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
.input-split li input[type=submit]{
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

.listtable,
.listtable2{
	width:100%;
	font-size:0.7em;
	margin-bottom:8px;
	border:solid 1px #ddd;
	display: table;
	table-layout: fixed;
}
.listtable li{
	display: none;
	background:#FDE3A7;
	color:#D35400;
	text-align:center;
	vertical-align: middle;
	padding:2px !important;
}

.listtable2 li{
	display: block;
	text-align: center;
	padding:2px !important;
	vertical-align: middle;
	overflow: visible;
	word-break: break-all;
}

.listtable th.chat,
.listtable td.chat{
	width:60%;
}

.listtable p{
	word-break: break-all;
	margin:0;
}
.listtable pre{
	display: block;
	text-align:left;
	padding:0;
	margin:0;
}
/*unit*/
.yen,
.yenoff,
.ken,
.per,
.per-off,
.pt,
.data,
.nin{
	margin:0;
	padding:4px;
	display: inline-block;
}
.yen:after,
.yenoff:after,
.ken:after,
.per:after,
.per-off:after,
.pt:after,
.data:after,
.nin:after{
	font-size:0.8em;
	color:#999;
	padding:4px;
}

.yen:after{ content:"円";}
.yenoff:after{ content:"円OFF";}
.ken:after{ content:"件";}
.per:after{ content:"%";}
.per-off:after{ content:"%OFF";}
.pt:after{ content:"PT";}
.data:after{ content:" ";}
.nin:after{ content:"人";}

.pickup{
	display: block;
	background:#bbb;
	color:#fff;
	font-size:1em;
	font-weight: 800;
	padding:0 8px;
	margin:0 2px 2px;
	animation: pickup 1s infinite;
	z-index:10;
}
.pickup:after{
	color:#fff;
}
@keyframes pickup{
  10%{
    opacity: 0.5;
  }
}
.pickup{
	-webkit-animation-duration: 2s;/
	-webkit-animation-direction: alternate;/* alternateにするとアニメーションが反復 */
	-webkit-animation-delay: 2.5s; /* 実行までの待ち時間 */
}

.selling-price{
	font-weight: 800;
	font-size:1.2em;
}


/*link*/
.link-button,
input[type="submit"]{
	display: block;
	background:#22a2cd;
	color:#fff;
	font-weight: 800;
	text-align: center;
	padding:8px;
	margin:4px 0 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.link-button .fa{
	margin-right:2px;
}



.top-btn{
	display: inline-block;
	background:#6cc644;
	border:solid 1px #579e37;
	color:#fff;
	padding:6px 16px;
	margin:8px 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.top-btn:hover{
	background:#55a532;
	color:#fff;
}

/*list-style*/
ul.ls-decimal{
	list-style-type: decimal !important;
	padding-left:2em;
}
ul.ls-lr{
	list-style-type:lower-roman !important;
	padding-left:2em;
}
ul.ls-disc{
	list-style-type:disc !important;
	padding-left:2em;
}


/*table & statics*/
table.info{
	margin-bottom:32px;
}
table.info th,
table.info td{
	width:*;
	padding:8px;
	padding-left:24px;
	vertical-align: middle;
	border-bottom:solid 1px #ddd;
}
table.info th{
	min-width:240px;
	border:solid 1px #000;
	border-right:solid 1px #ddd;
}

.photos{
	display: block;
	background:#eee;
	border:solid 1px #000;
	min-width:120px;
	min-height:120px;
	margin:8px auto;
}

.info-boxs{
	border:solid 1px #ccc;
	padding:16px;
	margin:8px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.info-boxs .photos{
	width:100%;
}

.info-boxs .fa{
	display: inline-block;
	color:#22a2cd;
	margin:0 8px;
}
.info-boxs span:after{
	content: attr(data-text);
	display: inline-block;
	color: #aaa;
	font-size: 11px;
}
.info-boxs .split li{
	vertical-align: middle;
}



.giftcode > p{
	margin:0;
}

.base-massage{
	padding:8px 0;
	margin-bottom:16px;
}

.ta-l{text-align:left;}
.ta-c{text-align:center;}
.ta-r{text-align:right;}

/*paging*/
.paging{
	display: block;
	margin:0 auto 8px;
}
.paging li{
	display: inline-block;
	font-size:12px;
}
.paging li a,
.paging li span{
	display: block;
	min-width:40px;
	text-align:center;
	padding:8px;
	margin:4px;
	background:#20c1d4;
	color:#fff;
	font-weight: 800;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.paging li a:hover{background:#8fe0e9;}
.paging li span{background:#eee; color:#666;}
.paging li:nth-child(1):before{
}


/* -----------------------------------------------------------------------------*/
/**
* 4.0 header&footer
* -----------------------------------------------------------------------------*/
header{
/*	background:rgba(70,200,220,0.5);*/
	width:100%;
	border-bottom:solid 1px #f0eeee;
}
header section{
	border:none;
	position: relative;
}
.sp-logo{
	display: block;
	width:40%;
	height:auto;
	margin:8px auto;
}

.header-split{
	width:100%;
}
.header-split li{
	padding:0 8px;
}
.header-split .logo{
	display: block;
	width:128px;
	text-align:left;
	margin:8px auto;
}
.header-split .logo img{
	width:100%;
	height:auto;
}
.header-split > .numbers{
	width:40%;
	text-align:center;
}
.header-split .pannels{
	width:100%;
	font-weight: 800;
	text-align:center;
}
.header-split .pannels > a{
	display: inline-block;
	width:26%;
	font-size:0.8em;
	color:#fff;
	padding:0 8px;
	background:#22a3cd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.header-menu{
	background:#fcfcfc;
	padding:12px;
}
.header-menu ul{
	display: table;
	table-layout: fixed;
	width:100%;
	margin:0 auto;
}
.header-menu ul li{
	display: table-cell;
	text-align: center;
}
.header-menu ul li a{
	color:#111;
	display: inline-block;
}
.header-menu ul li a:hover{
	color:#111;
}
.header-menu .current_page_item a{
	background:#22a3cd;
	color:#fff;
	padding:2px 8px;
	font-weight: 800 !important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.header-menu .current_page_item a:hover{
	color:#fff;
}


/*footer*/
footer{
	background: #3d9ca7;
	width:100%;
	text-align: center;
}
.footer-box{
	text-align:center;
	padding:16px 0 48px;
}
.footer-box .logo{
	width:140px;
	height:auto;
	margin:8px auto 16px;
}
.footer-box .logo img{
	width:100%;
	height:auto;
}

.footer-box h3{
	text-align: center;
	color:#fff !important;
	font-size:1.2em;
	padding:8px 0;
}

.footer-box ol{
	text-align:left;
	margin:8px 0 0 0;
	padding-bottom:8px;
}

.footer-box ol >li{
	display: block;
}

footer a{
	display: block;
	width:90%;
	color:#fff;
	padding:8px 8px;
	margin:2px auto;
	border:solid 1px #9acbd1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
footer a:hover{
	color:#fff;
}

footer .copyrights{
	color:#fff;
	font-size:0.8em;
	margin:0 auto;
	padding:16px 0;
}
.footer-on-rights{
	font-size:0.8em;
	line-height:1.2;
	text-align: left;
	padding:8px;
}
fotter iframe,
#twitter-widget-0{
	width:360px !important;
	margin:0 auto !important;
}


/*buysellbox*/
.buysellbox{
	position: fixed;
	left:0;
	bottom:0;
	z-index:2000;
	background:rgba(34,163,205,0.9);
	width:100%;
	text-align:center;
	padding:6px 0;
	border-top:solid 1px #22a3cd;

}
.buysellbox .btn{
	display: inline-block;
	width:30%;
	color:#b07f06;
	font-size:0.9em;
	line-height:1;
	padding:10px 8px;
	margin-left:8px;
}
.buysellbox .btn .fa{
	margin-right:2px;
}
.buysellbox .buy{
	background:rgba(255,190,44,1);
}
.buysellbox .sell{
	background:rgba(255,190,44,1);
}



/* -----------------------------------------------------------------------------*/
/**
* 5.0 base-contents
* -----------------------------------------------------------------------------*/
.base-contents{
	display: block;
	width:*;
	min-width:100%;
	min-height:400px;
	padding:8px;
	padding-bottom:32px;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}
.base-contents .sidebar{
	display: block;
	width:100% !important;
	padding:0;
}
.base-contents .maincontents{
	display: block;
	position: relative;
	width:98%;
	padding:0;
	margin:0 auto;
	vertical-align: top;
}

.base-contents .maincontents > h2{
	background:#eee;
	color:#333;
	text-align: center;
	padding:8px;
	border-bottom:solid 1px #ccc;
}

.base-contents .maincontents h2,
.base-contents .maincontents h3,
.base-contents .maincontents h4{
	margin-top:8px;
	text-align:center;
}
.base-contents .maincontents h3{
	font-size:1.4em;
	font-weight: 100;
	padding-bottom:4px;
	margin:24px 0 8px;
}

.base-contents .sidebar .left-frames,
.base-contents .sidebar .left-frames-s{
	background: #fff;
	width:98%;
	font-size:0.9em;
	text-align: center;
	padding:4px 8px;
	margin:0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.base-contents .sidebar .logo{
	display: none !important;
}

.base-contents .sidebar .left-frames-s{
	text-align: center;
	font-size:0.7em;
}
.base-contents .sidebar .left-frames h2{
	display: inline-block;
	font-size:11px;
	color:#666 !important;
	text-align: center;
	margin:0 !important;
	padding:8px 0 4px;
}
.base-contents .sidebar .left-frames p{
	display: inline-block;
	margin:0;
}
.base-contents .sidebar .left-frames .fs-s{
	display: inline-block;
	font-size:9px;
}
.base-contents .sidebar .left-frames a{
	display: block;
}


.base-contents .sidebar nav{
	width:98%;
	margin:16px auto;
	padding-bottom:48px;
}
.base-contents .sidebar nav a.btn{
	background:#fff;
}
.base-contents .sidebar nav a{
	display: inline-block;
	width:32%;
	color:#22a2cd;
	font-size:9px;
	text-align: center;
	padding:8px 16px;
	margin-bottom:4px;
}
.base-contents .sidebar nav a .fa{
	display: block;
	font-size:21px;
}

.base-contents .sidebar .active{
	color:#1791cb !important;
	background:#fff;
	border:solid 1px #1791cb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.top-bnr li .bnr{
	width:96% !important;
}

.globalnav{
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 8px 0;
	text-align: center;
	margin-bottom:16px;
}
.globalnav a{
	display: inline-block;
}

.page-nav{
	text-align: center;
	margin:0px;
}
.page-nav .link-button{
	display: inline-block;
	width:48%;
	font-size:12px;
	padding:8px;
	margin-bottom:2px;
}
.page-nav-split{
	width:100%;
	display: table !important;
	table-layout: fixed;
	text-align: center;
	margin-bottom:16px;
}
}
.page-nav-split li{
	display: table-cell !important;
}
.page-nav-split .ta-l{
	text-align: left;
}
.page-nav-split .ta-r{
	text-align: right;
}
.page-nav-split .ta-l .link-button{
	display: block;
	background:#aaa;
	border:solid 1px #aaa;
	font-size:0.9em;
}



.catchimage{
	border-bottom:solid 1px #ccc;
	margin:0 auto 8px;
	background:url(../img/catch-test2.jpg) no-repeat;
	background-size:cover;
	background-position: center center;
	position: relative;
}
.catchimage:after{
	content:" ";
	display: block;
}
.catchimage .inner{
	width:100%;
	height:390px;
	position: relative;
}
.catchimage .inner .title-box{
	width:72%;
	position: absolute;
	bottom:0;
}
.catchimage .inner .title-box h2{
	display: block;
	background:none;
	border:none;
	color:#fff !important;
	font-size:2em;
	text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.3);
	line-height:1;
	padding:8px 16px;
	margin:0;
}
.catchimage .inner .title-box h2:before{
	content:"";
}
.catchimage .inner .title-box h3{
	display: block;
	background:none;
	border:none;
	color:#fff !important;
	font-size:2em;
	text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.3);
	line-height:1.4;
	padding:8px 16px 32px;
	margin:0;
	position: relative;
}

.maincontents table{
	border-top:solid 1px #ccc;
	border-left:solid 1px #ccc;
	margin-bottom:16px;
}
.maincontents table th,
.maincontents table td{
	width:33%;
	font-size:0.9em;
	text-align: left;
	vertical-align: middle;
	padding:8px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.maincontents table th{
	background:#fcfcfc;
}


/*title-split*/
.title-split{
	width:100%;
	display: block;
	table-layout: fixed;
	margin:16px 0;
}
.title-split li{
	display: block;
	vertical-align: bottom;
}
.title-split li:last-child{
	text-align:right;
}
.title-split li:last-child .link-button{
	display: inline-block;
	color:#b07f06;
	background:rgba(255,190,44,1);
}
.title-split li h2,
.title-split li h3,
.title-split li h4{
	margin:0;
	padding:0;
}


/*pankuzu*/
.pankuzu{
	font-size:8px;
	color:#999;
	padding:4px;
	display: table;
}
.pankuzu li{
	display: table-cell;
}

.pankuzu li:after{
	content:" > ";
}
.pankuzu li:last-child:after{
	content:" ";
}


/*login*/
.login{
	max-width:800px;
	margin:0 auto 16px;
	table-layout: fixed;
	vertical-align: top;
	border-collapse: separate;
	border-spacing: 8px 0;
}
.loginbox{
	width:90%;
	border:solid 1px #cacaca;
	padding:16px;
	margin:24px auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.login .loginbox{
}
.loginbox input[type=text],
.loginbox input[type=email],
.loginbox input[type=password],
.loginbox input[type=tel],
.loginbox input[type=number]{
	width:100%;
	padding:6px;
	margin-bottom:8px;
	border:solid 1px #aaa;
	display: block;
}
.loginbox .select-box{
	text-align: center;
	margin:8px 0 16px;
}
.loginbox .select-box li{
	padding:8px;
}
.loginbox .select-box li:first-child{
	background:#eee;
}

.loginbox label{
	padding:8px 24px 8px 4px;
}

.loginbox input[type=submit],
.regist{
	width:100%;
	text-align: center;
	padding:8px;
	margin-bottom:8px;
	display: block;
}
.loginbox .reminder-link{
	display: block;
	background: #3e9da7;
	width:80%;
	font-size:0.8em;
	color:#fff;
	text-align: center;
	padding:4px;
	margin:24px auto 0;
}

.loginbox .inner-text{
	font-size:0.9em;
	color:#666;
	padding:8px;
}

.loginbox .campaign > li{
	width:100%;
}

.loginbox .campaign .regist-thanks{
	background:#71d0ff;
	color:#fff;
	padding:16px;
	margin-bottom:8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.loginbox .campaign .regist-thanks h2{
	color:#fff;
	font-size:1.2em;
	line-height:1.7;
	border-bottom:none;
}
.loginbox .campaign .regist-thanks .errorbox,
.loginbox .campaign .regist-thanks .errorboxinner{
	padding:0;
	margin:0;
	border:none;
	background:none;
}
.loginbox .campaign .regist-thanks input[type=text]{
	margin-top:32px;
	border:solid 1px #fff;
}

.loginbox .campaign .regist-thanks-under{
	padding:16px;
	margin-bottom:24px;
}
.loginbox .campaign .regist-thanks-under h2{
	font-size:1.1em;
	line-height:1.7;
	margin-bottom:16px;
	border-bottom:none;
}
.loginbox .campaign .regist-thanks-under .induction{
	display: block;
	text-align: center;
	border-bottom:dotted 1px #aaa;
	padding-bottom:8px;
	margin-bottom:16px;
}
.loginbox .campaign .regist-thanks-under .induction p{
	margin-bottom:4px;
}




/*mypage*/
.balance{
	width:100%;
	margin:0 auto 24px;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 4px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.balance .inner-box{
	position: relative;
	width:100%;
	padding:8px;
	border:solid 1px #1691cb;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.balance .inner-box h3{
	background:#fff;
	color:#216dad;
	text-align: center;
	margin:0;
	border-bottom:none;
	display: block;
}

.balance .inner-box .numbers{
	display: block;
	font-size: 2em;
	text-align: center;
	margin:0;
}
.balance .inner-box .numbers:after{
	color:#999;
	font-size:10px;
	padding-left:8px;
}
.balance .inner-box .number-title{
	background:#216dad;
	color:#fff;
	font-size:0.7em;
	text-align: center;
	padding:2px 8px;
	margin:0 0 0 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	bottom:-8px;
	right:4px;
}
.balance .inner-box .number-title .pt,
.balance .inner-box .number-title .yen{
	font-size:1.4em;
}

.admin-message{
	display: table;
	width:100%;
	font-size:0.9em;
	margin:0 auto 24px;
	padding:8px;
	list-style-type: disc;
	border:solid 1px #cacaca;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.admin-message li{
	margin-left:16px;
	padding-left:0px;
}

/*chat*/
.chat{
	width:100%;
	margin:0 auto 16px;
}
.chat .menu{
	font-size:0.8em;
	margin:8px 0;
}
.chat .menu a{
	padding:4px 12px 0 0;
	display: inline-block;
}
.chat .menu a:before{
	content:"・";
}
.chat .inner{
	width:100%;
	margin:12px 0;
	border:solid 1px #cacaca;
	background:#f7f9f9;
}
.chat .inner h3{
	margin:0;
	padding:8px;
	font-size:0.9em;
	background:#ddd;
	border-bottom:solid 1px #cacaca;
}
.chat .inner .start-day{
	font-size:0.8em;
	text-align: center;
	padding:4px;
	border-bottom:solid 1px #eee;
}
.chat .inner .start-day:before{
	content:"購入日時　";
	font-size:0.8em;
	color:#999;
}
.chat .inner .fin{
	color:#f00;
	font-weight: 800;
	text-align: center;
	padding:32px 0 16px;
}

/*chat-my&your*/
.chat-my-box,
.chat-your-box{
	width:100%;
	padding:8px;
	display: block;
}
.chat-my-box li,
.chat-your-box li{
	padding:2px 4px;
	display: block;
}
.chat-my-box li:first-child{
	width:100%;
	text-align:center;
}
.chat-my-box li.comment{
	font-size:0.8em;
	padding:12px;
	word-break: break-all;
	word-break: break-all;
	position: relative;
	border:solid 1px #cacaca;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.chat-my-box li.comment:before {
	content:"";
	position: absolute;
	right: 100%;
	bottom: 10px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 10px solid #cacaca;
	border-bottom: 6px solid transparent;
}
.chat-my-box li.comment img{
	width:38%;
	height:auto;
	margin:16px 0;
	border:solid 2px #cacaca;
	display: block;
}
.chat-my-box li.comment img:hover{
	border:solid 2px #f00;
}
.chat-my-box li:last-child,
.chat-your-box li:first-child{
	width:100%;
	font-size:0.7em;
	vertical-align: bottom;
}
.chat-your-box{
	float: right;
}
.chat-your-box li:first-child{
	width:100%;
	text-align: right;
}
.chat-your-box li:last-child{
	width:100%;
	text-align: center;
}
.chat-your-box li.comment{
	background:#eee;
	font-size:0.8em;
	word-break: break-all;
	padding:12px;
	position: relative;
	border:solid 1px #cacaca;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.chat-your-box li.comment:after {
	content:"";
	position: absolute;
	right: -10px;
	bottom: 10px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-left: 10px solid #cacaca;
	border-bottom: 6px solid transparent;
}

/*chat-your&my*/
.chat-sell-my-box,
.chat-sell-your-box{
	width:75%;
	padding:16px;
	display: table;
}
.chat-sell-my-box li,
.chat-sell-your-box li{
	padding:2px 4px;
	display: table-cell;
}
.chat-sell-my-box li:first-child{
	width:18%;
	text-align:center;
}
.chat-sell-my-box li.comment{
	background:#eee;
	font-size:0.8em;
	word-break: break-all;
	padding:12px;
	position: relative;
	border:solid 1px #cacaca;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.chat-sell-my-box li.comment:before {
	content:"";
	position: absolute;
	right: 100%;
	bottom: 10px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 10px solid #cacaca;
	border-bottom: 6px solid transparent;
}
.chat-sell-my-box li.comment img{
	width:38%;
	height:auto;
	margin:16px 0;
	border:solid 2px #cacaca;
	display: block;
}
.chat-sell-my-box li.comment img:hover{
	border:solid 2px #f00;
}
.chat-sell-my-box li:last-child,
.chat-sell-your-box li:first-child{
	width:18%;
	font-size:0.7em;
	vertical-align: bottom;
}
.chat-sell-your-box{
	float: right;
}
.chat-sell-your-box li:first-child{
	text-align: right;
}
.chat-sell-your-box li.comment{
	background:#fff;
	font-size:0.8em;
	word-break: break-all;
	padding:12px;
	position: relative;
	border:solid 1px #cacaca;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.chat-sell-your-box li.comment:after {
	content:"";
	position: absolute;
	right: -10px;
	bottom: 10px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-left: 10px solid #cacaca;
	border-bottom: 6px solid transparent;
}


/*account-regist*/
.account-regist{
	width:100%;
	margin:16px auto;
}
.account-regist input[type=text],
.account-regist input[type=email],
.account-regist input[type=password],
.account-regist input[type=tell],
.account-regist input[type=number]{
	width:100%;
	padding:8px;
	margin:8px auto;
	border:solid 1px #aaa;
	display: block;
}

.account-regist .imgInput{
}
.account-regist .imgInput img{
	display: block;
	width:240px;
	height:auto;
	margin:4px auto;
}

.account-regist input[type=submit]{
	width:100%;
}

.account-regist label{
	padding:0 16px 0 4px;
}

.account-regist input[type=file]{
	background:#111;
}

.account-regist label{
	padding:0 16px 0 4px;
}
.account-regist label.input-file{
	background:#3fb7d8;
	color:#fff;
	font-weight:100;
	padding:4px 16px;
	margin:4px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	display: inline-block;
}
.account-regist label div,
.account-regist label label{
	display: none;
	border:solid 1px #000;
}

.account-regist .conf{
	display: block;
	table-layout: fixed;
	width:100%;
	margin-bottom:8px;
	border:solid 1px #ddd;
}
.account-regist .conf li{
	display: block;
	font-weight: 800;
	text-align:center;
	padding:8px;
}
.account-regist .conf li:first-child{
	width:100%;
	font-weight: 100;
	padding:2px;
	background: #eee;
}
.account-regist .conf li:nth-child(3){
	width:100%;
}

.account-regist .conf li > input{
	margin:0;
}
.account-regist .conf li > input[type=text],
.account-regist .conf li > input[type=number],
.account-regist .conf li > input[type=email],
.account-regist .conf li > input[type=password]{
	width:100%;
}
.account-regist .conf li > textarea{
	width:100%;
	min-height:180px;
}

.account-regist .conf li .status{
	font-size:0.8em;
	color:#999;
	margin:0;
}
.account-regist .conf li > img{
	width:120px;
	height:auto;
	display: inline-block;
	margin-right:8px;
}

.account-regist .conf .proviso{
	margin-bottom:2px;
}

/*alert*/
.alert{
	width:100%;
	margin:0 auto 16px;
	border:solid 1px #fff;
	border-right:none;
}
.alert-title{
	display: none;
	color:#fff;
	background:#6ddae6;
	text-align:center;
}

.alert li{
	text-align:center;
	padding:8px;
}

.alert-title li:first-child{
	text-align:center;
}
.alert .detail li:last-child div{
	text-align: left;
}
.alert label{
	width:100px !important;
	display: inline-block
}
.alert input[type="text"]{
	width:80px !important;
	padding:4px;
	text-align:right;
}
.alert input[type=text].zero3{
	background:url(../img/zero3.png);
	background-size:cover;
	background-position: right center;
	padding-right:2.2em;
}

.alert label{
	padding:0 4px;
}


/*common*/
.title-center{
	margin:2em auto 1em;
	text-align:center;
}

.attention,
.attention-userid{
	display: block;
	background:#e1f3fc;
	color:#1591cb;
	font-size:12px;
	padding:8px;
	margin:0 auto 16px;
	border:solid 1px #1591cb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.attention-userid{
	border:solid 1px #ccc;
	background:#eee;
	color:#333;
}
.attention-userid .userid{
	background: #fff;
	font-size:1.1em;
	color:#fb6a00;
	text-align:center;
	margin:0;
	margin-bottom:16px;
	padding:16px;
	border:solid 2px #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.attention textarea{
	margin:4px 0;
}

.mb16{
	margin-bottom:16px !important;
}
.amazon{
	color:#fff !important;
	background:#232f3e;
	border:solid 1px #fff;
}
.its{
	color:#666 !important;
	background:#eee;
	border:solid 1px #fff;
}
.google{
	color:#fff !important;
	background:#e3834e;
	border:solid 1px #fff;
}
.rakuten{
	color:#fff !important;
	background:#bf0100;
	border:solid 1px #fff;
}
.line{
	color:#fff !important;
	background:#1fcd00;
	border:solid 1px #fff;
}

.hide{
	display: none !important;
}


/* -----------------------------------------------------------------------------*/
/**
* 6.0 list
* -----------------------------------------------------------------------------*/
.list{
	width:100%;
	margin:0 auto 16px;
}

ul.item-select{
	width:100%;
	margin:0 auto 16px;
	display: table;
	table-layout: fixed;
	text-align:center;
}
ul.item-select li{
	display: table-cell;
}

ul.item-select li a{
	display: inline-block;
	width:50%;
	padding:8px 0;
}
ul.item-select li a::after {
	content: attr(data-text);
	display: block;
	margin-top: .7em;
	color: #aaa;
	font-size: 11px;
}

ul.item-select li img{
	display: block;
	width:100%;
	height:auto;
	margin:4px auto;
	border:solid 2px #eee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
ul.item-select .actives{
	border:dotted 1px #000;
	position: relative;
}
ul.item-select .actives:before{
	content:" ";
	border:solid 4px #fff;
	position: absolute;
	top:-1px;
	left:-1px;
}

ul.item-list-header{
	display: none;
}

ul.item-list-header,
ul.item-list{
	width:100%;
	font-size:0.8em;
	margin:0 auto;
	text-align:center;
	word-wrap: break-word;
}
ul.item-list{
	position: relative;
	background:#f5f5f5;
	margin:2px 0;
	border:solid 1px #ddd;
}

ul.item-list-header li,
ul.item-list li{
	display: inline-block;
	border-right:none;
}

ul.item-list li .yen strong{
	color:#e11d50;
	font-size:1.8em;
}

ul.item-list li > img{
	width:24%;
	height:auto;
	margin-left:4px;
	border:solid 1px #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.item-list-header li > a,
ul.item-list-header li > span{
	display: block;
	padding:8px 0;
	color:#fff;
}
ul.item-list-header li > a:hover{
	color:#fff;
}
ul.item-list li{
	padding:4px 0;
	vertical-align: middle;
}


ul.item-list:hover{
}
ul.item-list input[type=text]{
	border:solid 1px #ccc;
	background: #fff;
	margin-top:4px;
	padding:8px 0;
	text-align: center;
}

ul.item-list input[type=submit],
ul.item-list .link-button{
	width:50%;
	padding:8px 0;
	margin:4px auto 8px;
}
ul.item-list .error{
	background:#e11b2e;
}


.oneclick-on,
.oneclick-off{
	display: inline-block;
	color:#fff;
	background:#22a2cd;
	padding:6px 8px;
	margin:8px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.oneclick-on{
	background:#cd224a !important;
}

.oneclick-on:hover,
.oneclick-off:hover{
	color:#fff;
	background:#3fb7d8;
}

.oneclick-on:after{
	content:"ON";
	color:#3fb7d8 !important;
	background:#fff;
	padding:2px 8px;
	margin-left:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.oneclick-off:after{
	content:"OFF";
	color:#22a2cd;
	background:#fff;
	padding:2px 8px;
	margin-left:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


ul.item-check{
	display: block;
	vertical-align: top;
	border-left:solid 1px #fff;
	border-top:solid 1px #fff;
}
ul.item-check li{
	display: block;
	text-align: center;
	padding:8px;
}
ul.item-check li:first-child{
	background: #eee;
	width:100%;
}

/* -----------------------------------------------------------------------------*/
/**
* 7.0 infomation
* -----------------------------------------------------------------------------*/
.infomation{
	width:100%;
	margin:0 auto 8px;
	padding:0;
}
.infomationbox{
	margin-bottom:4px;
}
.infomationbox > li{
	padding:2px;
	vertical-align: middle;
}
.infomationbox > .times{
	display: block;
	width:100%;
	font-size:0.8em;
	color:#888;
}
.infomationbox > .contents{
	font-size:0.9em;
}
.infomationbox > .contents a{
	display: block;
	background: #d3f0ff;
	color:#00a2ce;
	width:100%;
	padding:4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.infomation .detail{
	display: block;
	padding:16px;
	margin-bottom:16px;
	border:solid 1px #cacaca;
}
.infomation .detail img,
.infomation .detail iframe{
	width:80%;
	margin:16px auto;
	border:solid 1px #cacaca;
	display: block;
}

.infomationbox-top{
	display: block;
	font-size:16px;
	font-size:1.4em;
	text-align: center;
	border:solid 1px #000;
}
.infomationbox-top h2{
	margin:1em 0;
	padding:0;
	background:none;
	border:none;
	font-size:16px;
	font-size:1.4em;
}
.infomationbox-top h2:before{
	content:"";
}

/* -----------------------------------------------------------------------------*/
/**
* 8.0 serch-form
* -----------------------------------------------------------------------------*/
.serch-form{
	display: table;
	table-layout: fixed;
	width:100%;
	margin:0 auto;
	padding:16px;
	color:#226dad;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.serch-form h3{
	margin:0 !important;
	margin-bottom:4px;
	padding-bottom:4px;
}
.serch-form h4{
	display: inline-block;
	background:#226dad;
	color:#fff !important;
	font-size:0.9em;
	font-weight: 100;
	text-align: center;
	padding:4px;
	margin:4px 0;
	margin-right:4px;
	min-width: 120px;
}
.serch-form hr{
	display: block;
	margin:0;
	border-bottom:dotted 1px #ddd;
	margin:8px 0;
}
.serch-form .selecter{
	display: inline-block;
}
.serch-form label{
	padding:0 16px 0 4px;
}
.serch-form input[type="text"],
.serch-form input[type="email"],
.serch-form input[type="password"],
.serch-form input[type="number"]{
	padding:4px;
	margin:0 4px 4px 0;
}
.serch-form textarea{
	width:100%;
	height:80px;
	padding:8px;
	margin-bottom:16px;
}
.serch-form input[type="submit"]{
	width:100%;
}
.serch-form label{
	display: block;
	color:#23a4cd;
	text-align: left;
	padding:2px 4px;
	margin:8px 0 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:solid 1px #23a4cd;
}
.serch-form label input[type=radio],
.serch-form label input[type=checkbox]{
	margin-right:6px;
}

.serch-form .checkbox{
	display: inline-block;
	width:50%;
}

.serch-form li .ok{background:#7fc028;}
.serch-form li .ng{background:#D91E18;}

.submitbox{
	margin:8px 0;
}

/* -----------------------------------------------------------------------------*/
/**
* 9.0 exhibit
* -----------------------------------------------------------------------------*/
.exhibit{
	width:100%;
	margin:0 auto 24px;
}

.exhibit .select-exhibit{
	vertical-align: bottom;
	margin-bottom:8px;
}
.exhibit .select-exhibit li{
	width:33%;
}
.exhibit .select-exhibit a{
	display: block;
	width:80%;
	text-align: center;
	border:solid 1px #cacaca;
}
.exhibit .detail{
	font-size:1em;
	margin-bottom:4px;
	padding:4px;
	border:solid 1px #ccc;
}
.exhibit .detail li{
	text-align: center;
	padding:8px;
}
.exhibit .detail li:first-child{
	width:100%;
	background: #eee;
	color:#111;
	text-align:center;
	font-weight: 800;
	vertical-align: middle;
}
.exhibit label{
	display: inline-block;
	width:48%;
	background:#83cbe3;
	color:#fff;
	text-align:left;
	padding:4px 4px 4px 12px;
	margin:6px auto;
	-webkit-border-radius:	4px;
	-moz-border-radius:		4px;
	border-radius:			4px;
}
.exhibit label input[type="radio"],
.exhibit label input[type="checkbox"]{
	display: inline-block;
	margin-right:6px;
}

.exhibit input[type="text"],
.exhibit input[type="number"]{
	padding:4px;
}
.exhibit textarea{
	width:100%;
	border:solid 1px #ccc;
}
.exhibit input[type=submit]{
	display: inline-block;
	width:100%;
	margin:4px auto !important;
}

.exhibit textarea{
	min-width:78%;
	height:120px;
	padding:4px;
}
.giftcode input{
	margin-left:20px !important;
}
.auto-calc{
	font-size:0.8em;
	margin:8px 0;
	padding:4px;
}
.auto-calc:before{
	content:"自動計算：";
	color:#999;
	font-size:0.9em;
}



/* -----------------------------------------------------------------------------*/
/**
* 10.0 payment
* -----------------------------------------------------------------------------*/
.payment{
	width:100%;
	margin:0 auto 24px;
}
.payment payment-edit{
	border-collapse: separate;
	border-spacing: 2px 0;
	display: block;
}
.payment-edit li{
	display: block;
	text-align: center;
	vertical-align: middle;
}
.payment-edit li.mainbox{
	background:#1691cc;
	width:100%;
	text-align:center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.payment-edit li.mainbox .proviso{
	color:#fff;
	margin:4px 0;
}
.payment-edit li.mainbox .inner{
	display: block;
	width:98%;
	font-size:1em;
	text-align: right;
	padding:4px;
	margin:4px auto;
	background:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/* -----------------------------------------------------------------------------*/
/**
* 11.0 top page
* -----------------------------------------------------------------------------*/
.top-status{
	display: table;
	table-layout: fixed;
	width:100%;
	max-width:800px;
	margin:0 auto 2em;
}
.top-status li{
	display: table-cell;
	padding:0 16px;
	position: relative;
}
.top-status li .number-title{
	display: block;
	font-size:1.4em;
	text-align:center;
	padding:4px 16px;
	position: relative;
	top:21px;
}
.number-title .pt:after,
.number-title .yen:after{
	color:#fff !important;
}

.top-status li .large{
	display: block;
	background:#eee;
	color:#555;
	font-size:2em;
	text-align: center;
	padding:16px 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.top-status li .large:after{
	font-size:1.6em;
}
.top-text{
	font-size:1em;
	line-height:2;
	text-align: center;
	margin-bottom:16px;
}

.top-split{
	margin-bottom:16px;
}
.top-split li{
	font-size:1em;
	text-align: center;
	padding:8px;
}
.top-split li img{
	display: block;
	width:48%;
	height:auto;
	margin:0 auto 4px;
}

.top-split li h4{
	margin-top:8px;
}
.top-split li .fa{
	background:#eee;
	color:#f00;
	font-size:2em;
	vertical-align: middle;
	padding: 42px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.top-regist-box{
	width:100%;
	color:#fff;
	border-bottom:solid 1px #ccc;
	margin:0 auto 8px;
	background:url(/img/catch-sample.jpg) no-repeat;
	background-size:cover;
	position: relative;
}
.top-regist-box .inner{
	width:100%;;
	min-height:320px;
	padding:16px;
	text-align: center;
	position: relative;
}
.top-regist-box .inner h3{
	color:#fff !important;
	left:0;
	top:10%;
}
label{
	margin-left:4px;
}
.top-regist-box .inner input[type="text"],
.top-regist-box .inner input[type="email"],
.top-regist-box .inner input[type="password"]{
	width:100%;
	font-size:1em;
	padding:8px;
	margin:4px;
}
.top-regist-box .inner input[type="submit"]{
	width:100%;
	background:#89c138;
	border:solid 1px #89c138;
	color:#fff;
	font-size:1em;
	font-weight: 800;
	padding:16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.top-regist-box .inner input[type="submit"]:hover{
	box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
}
.top-regist-box a{ color:#fff; }
.top-regist-box a:hover{ text-decoration: underline; }

/* 使う機会があったら使う
.item-list-top{
	display: block;
	float:left;
	background:#fff;
	width:23%;
	text-align:center;
	margin:16px 1%;
	border:solid 1px #ddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.item-list-top:hover{
	box-shadow:rgba(207, 207, 207, 0.2) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(207, 207, 207, 0.2) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(207, 207, 207, 0.2) 0px 0px 6px 3px;
}
.item-list-top li{
	display: block;
	padding:4px;
}
.item-list-top li img{
	width:50%;
	height:auto;
	margin:4px auto;
	border:solid 2px #eee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.item-list-top li:nth-child(2){
	background:#eee;
}
.item-list-top li:nth-child(4){
	color:#f00;
	font-size:1.2em;
	font-weight: 800;
	padding:2px 0;
}
.item-list-top li .link-button{
	width:100%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
*/




/* -----------------------------------------------------------------------------*/
/**
* etc
* -----------------------------------------------------------------------------*/
.block{display: block;}
.iblock{display: inline-block;}

.fs-ss{
	font-size:0.7em;
}
.fs-s{
	font-size:0.8em;
}
.ta-c{ text-align: center; }
.sp-ta-l{ text-align: left; }
.sp-ta-c{ text-align: center !important; }



.etc-bg-gray01{background:#eee;}

.bnr{
	background:#eee;
	width:160px;
	height:80px;
	margin:0 0 4px;
	display: block;
	border:solid 1px #aaa;
}
.kari{
	color:#ff9933;
	font-size:0.8em;
	margin-bottom:8px;
	display: block;
}
a.kari:before{
	content:'(仮リンク) ';
}
.karicome{
	color:#f00;
	font-size:0.8em;
	margin-bottom:8px;
	display: block;
}
a.karicome:before{
	content:'(コメント) ';
}

.errorbox{
	width:100%;
	margin:16px auto;
	color:#f00;
	font-size:0.8em;
	border:solid 1px #f00;
	background:#ffd5dd;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.errorbox .errorboxinner{
	padding:8px;
	list-style-type: disc;
	margin-left:16px;
}
#clr{
	clear: both;
	margin:0;
	padding:0;
}


/*modal-window*/

.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    width:98%;
    margin:0;
    padding:10px 20px;
    background:#fff;
}

.modal-content th,
.modal-content td{
	font-size:0.9em;
	padding:4px;
}
.modal-content th{
	width:25%;
}
.modal-content td{
	width:75%;
}

.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.modal-open {
	text-decoration:none;
}

.modal-open:hover {
    cursor:pointer;
    color:#f00;
}

.modal-close {
	display: block;
	font-size:0.9em;
	text-align:center;
	padding:8px 0;
	border:solid 1px #cacaca;
}

.modal-close:hover {
    cursor:pointer;
    color:#f00;
}
.code-box{
	text-align:center;
	padding:4px 2px;
	margin-bottom:16px;
	border:solid 2px #22a2cd;
	background:#e1f7ff;
}
.code-box h3{
	display: block;
	text-align:center;
	color:#22a2cd;
	font-size:1em;
	margin:4px !important;
	border-bottom:none !important;
}
.code-box > .numbers{
	font-size:1.1em;
	margin:8px;
	padding:4px 0;
	border:double 3px #22a2cd;
}
.code-box input{
	text-align:center;
}
.code-box .link-button{
	width:90% !important;
	margin:0 auto;
}

.active{
	color:#fff !important;
	background:#697578;/*59b54c*/
}
.active:hover{
	background:#3fb7d8;
}

.tac{
	text-align:center;
}

.status-on{
	color:#000 !important;
}
.required{
	color:#f00;
	font-size:0.7em;
	padding-left:4px;
	display: inline-block;
}
.proviso{
	font-size:10px;
	color:#999;
	padding-left:4px;
	display: block
}
.proviso-block{
	display: block;
	margin:4px 0;
}

.midoku{
	color:#f00;
}
.kidoku{
	color:#999;
}

.btn{
	display: block;
	background:#22a2cd;
	color:#fff;
	font-size:0.9em;
	text-align: center;
	padding:8px;
	margin:4px 0 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.l-btn{
	width:80%;
	font-size:1em;
	padding:8px 4px;
	margin:16px auto;
}

.bank-select form.iblock{
	padding:4px;
	display: block !important;
}

.bank-select input[type=submit],
.bank-select button{
	width:100%;
}
.bank-nav{
}
.bank-nav a{
	display: block;
	color:#111;
	padding:4px !important;
	margin:1px;
}

#fc-blue{ color:#06c; }
#fc-red{ color:#f00; }
#fc-red2{ color:#f66; }
#fc-gray{ color:#777; }


/*sp-only*/
.sp-ex-block{
	display: block;
	width:100%;
}
.sp-ex-iblock{
	display: inline-block !important;
	width:50%;
}

.sp-sns{
	display: inline-block;
	width:24%;
	text-align:left;
}
.sp-sns a{
	display: inline-block;
	width:24px;
	height:24px;
	background:#eee;
	color:#333;
	text-align: center;
	padding-top:0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.sp-serch{
	position: fixed;
	bottom:12%;
	left:-4px;
	background:rgba(1,1,1,0.5);
	width:80px !important;
	height:40px !important;
	color:#fff;
	font-size:20px;
	padding:4px 0 0;
	z-index:100;
}

.sp-buy-items{
	position: relative;
}
.sp-buy-items li{
	text-align: center;
}
.sp-buy-items li:nth-child(1),
.sp-status{
	position: absolute;
	top:0;
	right:0;
	padding:2px 4px !important;
	border-bottom:solid 1px #ccc;
}
.sp-buy-items li:nth-child(2){
	text-align: left;
}
.sp-buy-items li:nth-child(3){
	width:50% !important;
	text-align: left;
	padding:0 !important;
	position: absolute;
	top:0;
	left:28%;
}
.sp-buy-items li:nth-child(4){
	width:50% !important;
	text-align: left;
	padding:0 !important;
	position: absolute;
	top:20px;
	left:28%;
}
.sp-buy-items li:nth-child(5){
	position: absolute;
	top:60px;
	left:0;
	display: inline-block;
	text-align: left;
	padding-left:2px;
}
.sp-buy-items li:nth-child(5) .per,
.sp-buy-items li:nth-child(5) .yenoff{
	display: block;
	width:90px;
	padding:0 0 0 2px;
}
.sp-buy-items li:nth-child(6){
	position: absolute;
	top:24px;
	right:2px;
	text-align: right;
}
.sp-buy-items li:nth-child(7){
	text-align: right;
	padding:2px;
}
.sp-buy-items li:nth-child(7) .link-button{
	display: inline-block;
}

.sp-buy-items .pickup{
	display: inline-block;
	background:none;
	color:#111;
}
.sp-buy-items .pickup:after{
	color:#aaa;
}
.sp-history li{
}
.sp-history li:nth-child(1){
	background:#ccc;
}
.sp-history li:nth-child(2),
.sp-history li:nth-child(3){
	width:50%;
	display: inline-block;
	border-bottom:solid 1px #ccc;
}
.sp-history li:nth-child(5),
.sp-chat li:nth-child(3){
	display: block;
	width:50% !important;
	background:#fff;
	border:solid 1px #ccc;
	color:#ea9e0b;
	font-weight: 800;
	margin:0 auto;
}
.sp-history li:nth-child(6),
.sp-history li:nth-child(7),
.sp-history li:nth-child(8){
	width:33%;
	padding:4px 2px;
}

.sp-history-data{
}
.sp-history-data li:nth-child(1),
.sp-history-data li:nth-child(2){
	display: inline-block;
	width:50%;
}
.sp-history-data li:nth-child(4),
.sp-history-data li:nth-child(5),
.sp-history-data li:nth-child(6),
.sp-history-data li:nth-child(7){
	display: inline-block;
	width:50%;
}


.sp-chat li:nth-child(6),
.sp-chat li:nth-child(7){
	width:50%;
}

.sp-buy-after li:nth-child(2),
.sp-buy-after li:nth-child(3),
.sp-buy-after li:nth-child(4){
	width:33%;
}
.sp-buy-after input[type="text"]{
	width:90%;
	background:#e6faff !important;
}

.sp-sell-after li:nth-child(1),
.sp-sell-after li:nth-child(2),
.sp-sell-after li:nth-child(6),
.sp-sell-after li:nth-child(7){
	display: block;
}

.sp-point-list li:nth-child(1),
.sp-point-list li:nth-child(2),
.sp-point-list li:nth-child(5){
	display: block;
}

.sp-rireki-header li{
	display: inline-block;
	width:49%;
}

.sp-login-history li{
	display: block !important;
}

.gakumen:before{ content:"額面:"; }
.hanbai:before{ content:"販売:"; }
.waribiki:before{ content:"割引:";}
.waribikiritsu:before{ content:"割引率:";}
.alert .waribikiritsu:after{ content:"未満";}
.torihiki:before{ content:"取引ID："; }
.hanbai-day:before{ content:"販売日"; display: block; }
.syuppin-day:before{ content:"出品日"; display: block; }
.tesu-ryou:before{ content:"手:";}
.user-id:before{ content:"ユーザーID:";}
.gift-code:before{ content:"ギフトコード"; display: block;}
.torihiki-start:before{ content:"取引日"; display: block;}
.last-up-date:before{ content:"更新日"; display: block;}
.yuukou:before{ content:"有効期限:";}
.syori:before{ content:"処理日:";}
.kousin:before{ content:"更新日:";}
.koumoku:before{ content:"項目:";}
.kounyuok:before{ content:"購入可:";}
.syukinok:before{ content:"出金可:";}
.kingaku1:before{ content:"+金額:";}
.kingaku2:before{ content:"-金額:";}
.point1:before{ content:"+ポイント:";}
.point2:before{ content:"-ポイント:";}
.syojipt:before{ content:"所持pt:";}
.sikkou:before{ content:"今月失効pt:";}


.sp-hide{
	display: none !important;
}

.noborder input{
	border:none !important;
	background:none;
	text-align: center !important;
}

/* -----------------------------------------------------------------------------*/
/**
* js
* -----------------------------------------------------------------------------*/
.page_top {
	position:fixed;
	bottom:60px;
	right:12px;
	background:rgba(34, 163, 205, 0.8);
	width:40px;
	height:40px;
	color:#fff;
	font-size:20px;
	text-decoration:none;
	text-align: center;
	padding:4px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/*slide-menu*/
#slide_menu{
    position: fixed;
    top: 0;
    right: 100%;
    width: 50%;
    height: 100%;
    padding-top:8px;
    background: #f1f6f8;
    z-index:1000;
}

.slide-btn{
	display: inline-block;
	width:30%;
	font-size:0.9em;
	line-height:1;
	color:#fff;
	border:solid 1px #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:4px 8px;
	margin-left:8px;
}



.remodal{
	padding:4px !important;
}
.remodal .serch-form{
	padding:8px !important;
}
.remodal .serch-form .split{
	display: table;
}
.remodal .serch-form .split li{
	display: block;
}
.remodal .serch-form .split li:first-child{
	border-bottom:solid 1px #ccc;
	padding-top:16px;
}
.remodal .serch-form .split li span{
	display: inline-block;
	width:42%;
}
.remodal .serch-form .split li input[type=text],
.remodal .serch-form .split li input[type=number]{
	width:70%;
}
.remodal .serch-form input[type=submit]{
	width:100% !important;
}
.remodal .serch-form label{
	display: inline-block;
	width:48%;
}


.cake-sql-log{
	display: none !important;
}

/* -----------------------------------------------------------------------------*/
/**
* add
* -----------------------------------------------------------------------------*/
/*20160531*/
.gift-icons{
	display: inline-flex;
	width:100%;
	text-align: center;
	margin-bottom:16px;
}
.title-split .gift-icons{
	margin-bottom:0px;
}
.gift-icons input[type=submit]{
	width:120px;
	height:60px;
	background-size:cover !important;
	background-position: center center !important;
	border:solid 1px #ccc;
}
.gc-01{ background: url(https://market.giftapple.jp/img/c-01.jpg) !important; }
.gc-02{ background: url(https://market.giftapple.jp/img/c-02.jpg) !important; }
.gc-03{ background: url(https://market.giftapple.jp/img/c-03.jpg) !important; }
.gc-04{ background: url(https://market.giftapple.jp/img/c-05.jpg) !important; }
