<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/modal.js"></script>
	<meta name="robots" content="NOINDEX,NOFOLLOW">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
<div class="mock-frame fullheight"><!-- mockframe -->
	<div class="contents-frame">
<!----------*contents*---------->
	<div id="container">
	<header><!-- header -->

		
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<title>ギフル管理ページ</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="stylesheet" href="../static/css/admin-style.css" />
		<section>
			<ul class="split header-split">
				<li class="logo">ギフル管理画面</li>
			</ul>
		</section>
	</header><!-- /header -->
	<section class="base-contents">	
					<div class="sidebar"><!-- sidebar -->
						<a href="javascript:;" class="nav" id="logout">ログアウト</a>
                        <form action="/logout" method="get" id="clear">
                            <input type="hidden" name="clearsession">
                        </form>
                        <script>
                            $("#logout").click(function () {
                                $("#clear").submit();

                            })
                        </script>
					</div><!-- /sidebar -->
		
	<div class="padder"><!-- padder -->
						<ul class="pankuzu">
					<li>HOME</li>
					<li>取引管理</li>
				</ul>

			<div class="errorbox" style="display:none"><!-- error -->
				<ul class="errorboxinner">
								</ul>
			</div><!-- /error -->
				
				<h3>VNS進行状況</h3>
			<form id="Form" method="get" accept-charset="utf-8">				<ul class="search-form">
					<li>検索対象</li>
					<li>
						<input type="radio" name="search" value="mail_address" id="users02" {% if not session or session['search'] == 'mail_address' %} checked {% endif %}><label for="users02">メールアドレス</label>
						<input type="radio" name="search" value="trade_code" id="users05" {% if session['search'] == 'trade_code' %} checked {% endif %}><label for="users05">取引ID</label>
						<input type="radio" name="search" value="gift_no" id="users06" {% if session['search'] == 'gift_no' %} checked {% endif %}><label for="users06">ギフト券番号</label>
						<input type="text" name="word"  placeholder="文字列を入力" {% if session['word'] %} value="{{ session['word'] }}" {% endif %} />
					</li>
				</ul>

				<ul class="search-form">
					<li>VNS登録日時</li>
					<li>
					<div style="padding:0px 0px 8px 8px; float:left;">						
					<input type="text" name="ex_s_year" class="year" style="width:80px" {% if session['ex_s_year'] %} value="{{ session['ex_s_year'] }}" {% endif %} >
					年
					<input type="text" name="ex_s_month" class="month" style="width:80px" {% if session['ex_s_month'] %} value="{{ session['ex_s_month'] }}" {% endif %} >
					月
					<input type="text" name="ex_s_day" class="date" style="width:80px" {% if session['ex_s_day'] %} value="{{ session['ex_s_day'] }}" {% endif %} >
					日						
						<input type="text" value="" class="datepicker" style="display:none;" />
					　から　
					</div>
				<script type="text/javascript">
					$('.datepicker').datepicker({
						dateFormat : "yy/mm/dd"
						,dayNamesMin: ['日', '月', '火', '水', '木', '金', '土']
						,showOn: "button"
						,buttonText: "開始日"
						,buttonImageOnly : false
						,beforeShow : function(input,inst){
					//開く前に日付を上書き
						var year = $(this).parent().find(".year").val();
						var month = $(this).parent().find(".month").val();
						var date = $(this).parent().find(".date").val();
						$(this).datepicker( "setDate" , year + "/" + month + "/" + date)
						},
						onSelect: function(dateText, inst){
					//カレンダー確定時にフォームに反映
						var dates = dateText.split('/');
						$(this).parent().find(".year").val(dates[0]);
						$(this).parent().find(".month").val(dates[1]);
						$(this).parent().find(".date").val(dates[2]);
						}
					});
				</script>
					<div style="padding:0px 0px 8px 8px;  float:left;">
					<input type="text" name="ex_e_year" class="year" style="width:80px" {% if session['ex_e_year'] %} value="{{ session['ex_e_year'] }}" {% endif %} >
					年
					<input type="text" name="ex_e_month" class="month" style="width:80px" {% if session['ex_e_month'] %} value="{{ session['ex_e_month'] }}" {% endif %} >
					月
					<input type="text" name="ex_e_day" class="date" style="width:80px" {% if session['ex_e_day'] %} value="{{ session['ex_e_day'] }}" {% endif %} >
					日				
						<input type="text" value="" class="datepicker2" style="display:none;" />
					</div>						
				<script type="text/javascript">
					$('.datepicker2').datepicker({
						dateFormat : "yy/mm/dd"
						,dayNamesMin: ['日', '月', '火', '水', '木', '金', '土']
						,showOn: "button"
						,buttonText: "終了日"
						,buttonImageOnly : false
						,beforeShow : function(input,inst){
					//開く前に日付を上書き
						var year = $(this).parent().find(".year").val();
						var month = $(this).parent().find(".month").val();
						var date = $(this).parent().find(".date").val();
						$(this).datepicker( "setDate" , year + "/" + month + "/" + date)
						},
						onSelect: function(dateText, inst){
					//カレンダー確定時にフォームに反映
						var dates = dateText.split('/');
						$(this).parent().find(".year").val(dates[0]);
						$(this).parent().find(".month").val(dates[1]);
						$(this).parent().find(".date").val(dates[2]);
						}
					});
				</script>
					</li>
				</ul>

				<ul class="search-form">
					<li>チェック日時</li>
					<li>
					<div style="padding:0px 0px 8px 8px; float:left;">						
					<input type="text" name="ph_s_year" class="year" style="width:80px" >
					年
					<input type="text" name="ph_s_month" class="month" style="width:80px" >
					月
					<input type="text" name="ph_s_day" class="date" style="width:80px" >
					日						
						<input type="text" value="" class="datepicker" style="display:none;" />
					　から　
					</div>						
				<script type="text/javascript">						
					$('.datepicker').datepicker({
						dateFormat : "yy/mm/dd"
						,dayNamesMin: ['日', '月', '火', '水', '木', '金', '土']
						,showOn: "button"
						,buttonText: "開始日"
						,buttonImageOnly : false
						,beforeShow : function(input,inst){
					//開く前に日付を上書き
						var year = $(this).parent().find(".year").val();
						var month = $(this).parent().find(".month").val();
						var date = $(this).parent().find(".date").val();
						$(this).datepicker( "setDate" , year + "/" + month + "/" + date)
						},
						onSelect: function(dateText, inst){
					//カレンダー確定時にフォームに反映
						var dates = dateText.split('/');
						$(this).parent().find(".year").val(dates[0]);
						$(this).parent().find(".month").val(dates[1]);
						$(this).parent().find(".date").val(dates[2]);
						}
					});						
				</script>
					<div style="padding:0px 0px 8px 8px;  float:left;">
					<input type="text" name="ph_e_year" class="year" style="width:80px" >
					年
					<input type="text" name="ph_e_month" class="month" style="width:80px" >
					月
					<input type="text" name="ph_e_day" class="date" style="width:80px" >
					日				
						<input type="text" value="" class="datepicker2" style="display:none;" />
					</div>						
				<script type="text/javascript">						
					$('.datepicker2').datepicker({
						dateFormat : "yy/mm/dd"
						,dayNamesMin: ['日', '月', '火', '水', '木', '金', '土']
						,showOn: "button"
						,buttonText: "終了日"
						,buttonImageOnly : false
						,beforeShow : function(input,inst){
					//開く前に日付を上書き
						var year = $(this).parent().find(".year").val();
						var month = $(this).parent().find(".month").val();
						var date = $(this).parent().find(".date").val();
						$(this).datepicker( "setDate" , year + "/" + month + "/" + date)
						},
						onSelect: function(dateText, inst){
					//カレンダー確定時にフォームに反映
						var dates = dateText.split('/');
						$(this).parent().find(".year").val(dates[0]);
						$(this).parent().find(".month").val(dates[1]);
						$(this).parent().find(".date").val(dates[2]);
						}
					});
				</script>
					</li>
				</ul>

					<ul class="search-form">
						<li>チェック状況</li>
						<li>
							<input type="checkbox" name="trade_status[]" value="0" id="status01" {% if "0" in session['status'] %} checked {% endif %} ><label for="status01">コード確認中</label>
							<input type="checkbox" name="trade_status[]" value="16" id="status02" {% if "16" in session['status'] %} checked {% endif %}><label for="status02">チャージ済み</label>
							<input type="checkbox" name="trade_status[]" value="22" id="status07" {% if "22" in session['status'] %} checked {% endif %} ><label for="status07">エラー:未確認</label>
							<input type="checkbox" name="trade_status[]" value="23" id="status08" {% if "23" in session['status'] %} checked {% endif %} ><label for="status08">コード無効・返金済み</label>
							<input type="checkbox" name="trade_status[]" value="25" id="status09" {% if "25" in session['status'] %} checked {% endif %} ><label for="status09">システムエラー・返金済み</label>

						</li>
					</ul>

				<ul class="search-form">
					<li>ソート順</li>
					<li>
						<select name="order" >
                            <option value="3" {% if (session['order'] and session['order'] == "3") or not session or not session['order'] %} selected {% endif %} >チェック日時・降順</option>
							<option value="4" {% if session['order'] and session['order'] == "4" %} selected {% endif %} >チェック日時・昇順</option>
						</select>
					</li>
				</ul>

				<ul class="search-form">
					<li>表示件数</li>
					<li>
						<select name="limit">
							<option value="10" {% if session['limit'] and session['limit'] == "10" %} selected {% endif %}>10件</option>
							<option value="20" {% if session['limit'] and session['limit'] == "20" %} selected {% endif %}>20件</option>
							<option value="50" {% if (session['limit'] and session['limit'] == "50") or not session or not session['limit'] %} selected {% endif %} >50件</option>
							<option value="100" {% if session['limit'] and session['limit'] == "100" %} selected {% endif %}>100件</option>
							<option value="1000" {% if session['limit'] and session['limit'] == "1000" %} selected {% endif %}>1000件</option>
						</select>
					</li>						
				</ul>
				<div class="submitbox">
					<input type="submit" value="検索" />
{#                    <a class="link-button" href="/trades/?trade_status%5B%5D=3&trade_status%5B%5D=4&trade_status%5B%5D=5&trade_status%5B%5D=7&trade_status%5B%5D=9&trade_status%5B%5D=13&trade_status%5B%5D=6&trade_status%5B%5D=8&trade_status%5B%5D=10&trade_status%5B%5D=11&trade_status%5B%5D=12&csv=1">csvダウンロード</a>#}
                    <input type="reset" value="クリア" />
				</div>
				</ul>
			</form>			<ol class="split">
				<li><h3>取引リスト/{{ count }}件</h3></li>

			</ol>
				<table class="listtable">
					<tr>
						<th>VNS登録日時</th>
						<th>チェック日時</th>
						<th>取引番号</th>
						<th>ギフト券番号</th>
						<th>メールアドレス</th>
						<th>取引状態</th>
						<th>SS/DL</th>

					</tr>
                    {% if list %}
                    {% set i = 0 %}
                    {% for info in list %}
                    {% set i = i+1 %}
                    <tr class="nolink">
						<td><p class="data">{{ info.vns_login_date }}<br />{{ info.vns_login_time }}</p></td>
						<td><p class="data">{{ info.charge_start_date }}<br />{{ info.charge_start_time }}</p></td>
						<td><p class="data">{{ info.trade_no }}</p></td>
						<td><p class="data">{{ info.gift_code }}</p></td>
						<td>
							<p>{{ info.user_email }}</p>
						</td>
						<td>
                            {% if info.code_status == 16 %}
                                {% set status = "チャージ済み" %}
                            {% elif info.code_status == 23 %}
                                {% set status = "コード無効・返金済み" %}
                            {% elif info.code_status == 22 %}
                                {% set status = "エラー:未確認" %}
                            {% elif info.code_status == 0 %}
                                {% set status = "コード確認中" %}
                            {% elif info.code_status == 25 %}
                                {% set status = "コード確認中" %}
                            {% else %}
                                {% set status = "システムエラー・返金済み" %}
                            {% endif %}
                            <p>{{ status }}</p>
						</td>
						<td>
                            {% set href = "/download?serial="~info.trade_no~"&code="~info.gift_code %}
							<a href={{ href }}>
								<i class="fa fa-download" aria-hidden="true"></i>
								<!-- チャージ前後のスクリーンショットorHTMLファイルをzipでダウンロード -->
							</a>
						</td>
					</tr>

                    {% endfor %}
                    {% endif %}

				</table>

            {% if paginate %}
			<ul class="paging"><!-- paging -->
								<!-- ページ数表示 -->
									<p><li>【{{ paginate.page }}/{{ total_page }}】</li></p>
								<!-- 先頭ページ以外で表示 -->
									<li><i></i></li>
								<!-- ページ数表示 -->
            {% if paginate.has_prev %}
                <li><a href="{{ url_for('admin', page = paginate.prev_num) }}"><i class="fa fa-arrow-left"></i>前へ</a></li>
            {% else %}
                <li><i class="fa fa-arrow-left"></i>前へ</li>
            {% endif %}

            {% if total_page <= 9 %}
                {% for p in range(1, total_page|int + 1) %}
                    <li><a href="{{ url_for('admin', page = p) }}">{{ p }}<i class="next"></i></a></li>
                {% endfor %}
            {% else %}
                {% if paginate.page < 5 %}
                    {% for p in range(1, 10) %}
                        <li><a href="{{ url_for('admin', page = p) }}">{{ p }}<i class="next"></i></a></li>
                    {% endfor %}
                {% elif paginate.page > (total_page|int - 4) %}
                    {% for p in range(total_page|int - 8, total_page|int + 1) %}
                        <li><a href="{{ url_for('admin', page = p) }}">{{ p }}<i class="next"></i></a></li>
                    {% endfor %}
                {% else %}
                    {% for p in range(paginate.page - 4, paginate.page + 4) %}
                        <li><a href="{{ url_for('admin', page = p) }}">{{ p }}<i class="next"></i></a></li>
                    {% endfor %}
                {% endif %}
            {% endif %}
            
            {% if paginate.has_next %}
                <li><a href="{{ url_for('admin', page = paginate.next_num) }}">次へ<i class="fa fa-arrow-right"></i></a></li>
            {% else %}
                <li>次へ<i class="fa fa-arrow-right"></i></li>
            {% endif %}

            </ul><!-- /paging -->
            {% endif %}
	</div><!-- /padder -->
	</section>		
	<footer><!-- footer -->
				<section class="footer-box">

		</section>
	</footer><!-- /footer -->
	</div>
    </div>
</div>
	</body>
</html>

