<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1,maximum-scale=1" />
	<meta name="format-detection" content="telephone=no">
	<title>
		ギフト券を買う｜人気ギフト券の個人売買支援サービス「ギフル」
	</title>
	<link href="img/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="img/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/modal.js"></script><script type="text/javascript" src="js/common_front.js"></script>
	<script type="text/javascript" src="js/jquery.validationEngine-ja.js"></script>
	<script type="text/javascript" src="js/jquery.validationEngine.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/validationEngine.jquery.css"/>
	<link rel="stylesheet" type="text/css" href="css/hover.css"/>
	<link rel="stylesheet" type="text/css" href="css/font-awesome-4.5.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/remodal.css"/>
	<link rel="stylesheet" type="text/css" href="css/remodal-default-theme.css"/>
<!-- menu-js -->
<script>
$(function(){
var menu = $('#slide_menu'),     menuBtn = $('#slide-btn'),     body = $(document.body),     
    menuWidth = menu.outerWidth();                
     
        menuBtn.on('click', function(){
        body.toggleClass('open');
        if(body.hasClass('open')){
                        body.animate({'left' : menuWidth }, 300);            
            menu.animate({'left' : 0 }, 300);                    
        } else {
                        menu.animate({'left' : -menuWidth }, 300);
            body.animate({'left' : 0 }, 300);            
        }             
    });
});    
</script>

<!-- 修正する/ Wang
ajax追加する -->
<script type="text/javascript">
        function change_captcha(){

            var email = $("#email").val();

            $.ajax({
                url: "/changeCaptcha",
                data: {email: email},
                success: function (img){
                    $("#captcha_img").attr("src", img)
                },
                timeout: 30000
            })
        }
</script>

</head>
<body>

<!-- fb -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=890055211131538";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--End fb -->

<!----------*contents*---------->
<div id="container">

	<a href="/"><img src="img/logo.png" class="sp-logo" /></a>

<script type="text/javascript">
jQuery(document).ready(function(){
   jQuery("#myForm").validationEngine('attach', {
    promptPosition:"bottomLeft"
  });
});
function submitLast(){
	document.getElementById('buttonLast').click();
}
</script>




	<section class="base-contents">
						<!-- buysellbox --><div class="buysellbox"><button id="slide-btn" class="slide-btn"><i class="fa fa-bars"></i> Menu</button><a class="btn buy" href="buy"><i class="fa fa-shopping-cart"></i>買う</a><a class="btn sell" href="exhibit"><i class="fa fa-ticket"></i>売る</a></div><!-- buysellbox -->
		<div class="sidebar" id="slide_menu"><!-- sidebar -->

			<a href="/"><img src="img/logo.png" class="logo" /></a>

			<div class="left-frames-s">
				最終ログイン日<br />
				2016年06月24日 17:02
			</div>

			<div class="left-frames">
				<h2>ご購入可能額</h2>
				<span class="yen">4,005</span>
			</div>
			
			<!-- div class="left-frames">
				<h2>ご出金可能額</h2>
				<span class="yen">38,481</span>
				<a class="btn" href="payment">ご出金手続き</a>
			</div -->

			<nav>

				<a class="btn" href="charge"><i class="fa fa-university"></i>入金する</a>
				<a class="btn" href="buy.html" class="nav"><i class="fa fa-shopping-cart"></i>ギフト券を買う</a>
				<a class="btn" href="exhibit" class="nav"><i class="fa fa-ticket"></i>ギフト券を売る</a>

				<a href="mypage" class="nav "><i class="fa fa-home"></i>マイページ</a>
				<a href="information" class="nav "><i class="fa fa-info-circle"></i>お知らせ</a>
				<a href="account" class="nav "><i class="fa fa-cog"></i>アカウント</a>
				<a href="campaigns" class="nav "><i class="fa fa-gift"></i>ポイント追加</a>
				<a href="alert" class="nav "><i class="fa fa-bell"></i>アラート設定</a>
				<a href="history" class="nav "><i class="fa fa-history"></i>履歴</a>
				<a href="payment" class="nav "><i class="fa fa-university"></i>出金申請</a>
								<a href="/login/logout" class="nav"><i class="fa fa-sign-out"></i>ログアウト</a>
				<hr class="sp-hide" />
				<a href="https://giftapple.jp/guide" target="_blank"><i class="fa fa-book"></i>ガイド<i class="fa fa-clone fs-s sp-hide"></i></a>
				<a href="https://market.giftapple.jp/contact"><i class="fa fa-book"></i>お問い合わせ<i class="fa fa-clone fs-s sp-hide"></i></a>
				<a href="https://giftapple.jp/camp" target="_blank"><i class="fa fa-gift"></i>キャンペーン<i class="fa fa-clone fs-s sp-hide"></i></a>
			</nav>
		</div><!-- /sidebar -->		<div class="maincontents"><!-- maincontents -->

			<ul class="pankuzu">
				<li><a href="/">HOME</a></li>
				<li>購入</li>
				<li>購入完了</li>
			</ul>

			<ul class="title-split">
				<li><h2>ギフト券の購入完了完了</h2></li>
				<li>
					<a href="buy-waitlist.html" class="link-button">処理待ちの取引</a>
					<a href="buy-checklist.html" class="link-button">処理中の取引</a>
					<a href="buy-list.html" class="link-button">処理済みの取引</a>
				</li>
			</ul>

			<div class="attention">
				画像認証が必要です。<br />
				画像に記載されている文字を入力してください。
			</div>

			<h3>Amazonアカウントを入力してください</h3>
            <!-- 修正する/ Wang -->
            <form action="/amazon-login" method="get">
                <div class="account-regist">
                    <ul class="conf">
                        <li>画像認証</li>
                        <li>
                            <!-- 修正する/ Wang
                            画像はamazonブラウザの上に取得するの -->
                            <!-- <img src="http://i.gzn.jp/img/2008/01/08/mailhide_recaptcha/mailhide001_m.png" style="width:320px; height:auto;"><br />
                            画像はサンプルです。 -->
                            <img id="captcha_img" style="width:320px; height:auto;" src={{captcha}}>

                        </li>
                    </ul>
                    <ul class="conf">
                        <li>文字列の入力</li>
                        <li>
                            <!-- 修正する/ Wang -->
                            <input type="text" name="captcha"/>
                            <!-- 修正する/ Wang
                            ユーザーのイーメールとパスワードを再送信する -->
                            <input id="email" type="hidden" name="email" value={{ email }}/>
                            <input id="password" type="hidden" name="password" value={{ password }}/>

                        </li>
                    </ul>
                </div>

                <ul class="page-nav-split">
                    <li class="ta-l">
                        <!-- 修正する/ Wang
                        ajax追加する -->
                        <a class="link-button" href="#" onclick="change_captcha()">画像を再取得する</a>
                    </li>
                    <li class="ta-r">
                        <!-- 修正する/ Wang
                        submit buttonが必要する-->
                        <input class="link-button" type="submit" value="画像認証する"/>
                        <a href="buy-checklist.html">ログインが通った場合</a>
                        <a href="amazon-error.html">エラーが返ってきた場合</a>
                    </li>
                </ul>
            </form>
		</div><!-- /maincontents -->
	</section>



	<footer><!-- footer -->
		<section class="footer-box">
		<div class="logo">
			<img src="https://giftapple.jp/wp-content/themes/gifmaimg/logo-w.png" alt="ギフル" width="" height="" />
		</div>


<ul class="split">
	<li>

<ol><li><a href="https://giftapple.jp/"><i class="fa-home fa"></i><span class="fontawesome-text"> ギフル トップ</span></a></li>
<li><a href="https://giftapple.jp/camp"><i class="fa-info fa"></i><span class="fontawesome-text"> キャンペーン情報</span></a></li>
<li><a href="https://giftapple.jp/regist/"><i class="fa-user-plus fa"></i><span class="fontawesome-text"> 新規登録</span></a></li>
<li><a href="https://giftapple.jp/login"><i class="fa-sign-in fa"></i><span class="fontawesome-text"> ログイン</span></a></li>
<li><a href="https://giftapple.jp/preparation"><i class="fa-bullhorn fa"></i><span class="fontawesome-text"> おしらせ</span></a></li>
<li><a href="https://giftapple.jp/preparation"><i class="fa-rss fa"></i><span class="fontawesome-text"> スタッフブログ</span></a></li>
<li><a href="https://giftapple.jp/sitemap"><i class="fa-sitemap fa"></i><span class="fontawesome-text"> サイトマップ</span></a></li>
</ol>

<h3>ギフルの使い方</h3>
<ol><li><a href="https://giftapple.jp/about"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> ギフルの仕組み</span></a></li>
<li><a href="https://giftapple.jp/about-safety"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> エスクローと返金保証</span></a></li>
<li><a href="https://giftapple.jp/regist-low"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> ユーザー登録の流れ</span></a></li>
<li><a href="https://giftapple.jp/about-sell"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> ギフト券を売るなら</span></a></li>
<li><a href="https://giftapple.jp/about-buy"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> ギフト券を買うなら</span></a></li>
<li><a href="https://giftapple.jp/reflection-time"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 入出金のご案内</span></a></li>
<li><a href="https://giftapple.jp/commission"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 手数料のご案内</span></a></li>
<li><a href="https://giftapple.jp/alert"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 便利なアラート機能</span></a></li>
</ol>
	</li>
	<li>

<h3>運営者情報</h3>
<ol><li><a href="https://giftapple.jp/company"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 運営会社</span></a></li>
<li><a href="https://giftapple.jp/terms"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 利用規約</span></a></li>
<li><a href="https://giftapple.jp/tokushou"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 特定商取引に基づく表示</span></a></li>
<li><a href="https://giftapple.jp/shikin"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 資金決済法に基づく表示</span></a></li>
<li><a href="https://giftapple.jp/kobutsu"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> 古物営業法に基づく表示</span></a></li>
<li><a href="https://giftapple.jp/privacy"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> プライバシーポリシー</span></a></li>
<li><a href="https://faq.giftapple.jp/hc/ja"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> よくある質問</span></a></li>
<li><a href="https://market.giftapple.jp/contact"><i class="fa-arrow-right fa"></i><span class="fontawesome-text"> お問い合わせ</span></a></li>
</ol>
	</li>
	<li>
		<a class="twitter-timeline" href="https://twitter.com/giftapple_tw" data-widget-id="709407998481813505">@giftapple_twさんのツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</li>
</ul>

			<p class="copyrights">
				(c)Giftprice,Inc
			</p>
		</section>
	</footer><!-- /footer -->

	<!-- page top -->
	<a href="#top" class="page_top"><i class="fa fa-arrow-up"></i></a>
	<script type="text/javascript">
		$(function() {
		var pageTop = $('.page_top');
		pageTop.hide();
		$(window).scroll(function () {
		if ($(this).scrollTop() > 600) {
		pageTop.fadeIn();
		} else {
		pageTop.fadeOut();
		}
		});
		pageTop.click(function () {
		$('body, html').animate({scrollTop:0}, 400, 'swing');
		return false;
		});
	});
	</script>
	<!-- End page top -->

	
</div>
</body>
</html>

