<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webChargeテストプロジェクト</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!--チャージの状態を表示する-->
    <script>
        function charge_status(){

            var user_name = $("#user_name").val();
            var password = $("#password").val();
            var code = [];
            var serial = 0;
            $("#codes input[type='text']").each(function (){
                code[serial] = $(this).val();
                serial += 1;
            });


            if (user_name.length == 0){
                alert("メールをご入力ください");
                return false
            }else if (password.length == 0){
                alert("パスワードをご入力ください");
                return false
            }else if (code.indexOf("") != -1){
                alert("コードをご入力ください");
                return false
            }else {
                var interval = window.setInterval(show_status, 1000);
                function show_status(){
                    $.ajax({
                        url: "/checkStatus",
                        data: {user_name: user_name, password: password},
                        success: function(result){
                            if (result != "None"){
                                $("#charge_status").html(result)
                            }else {
                                window.clearInterval(interval)
                            }
                        },
                        timeout: 60000,
                        error: function (){
                            window.clearInterval(interval)
                        }
                    });
                }
            }
        }
    </script>
    
    <script>
        function change_captcha(){

            var user_name = $("#user_name").val();

            $.ajax({
                url: "/changeCaptcha",
                data: {user_name: user_name},
                success: function (result){
                    $("#captcha_img").attr("src", result)
                },
                timeout: 30000
            })
        }
    </script>

    <script>
        $(function(){

            var code = -1;

            $("#codes input[type='text']").each(function (){
                code += 1
            });

            $("#add").click(function (){
                code += 1;
                var id = 'code'+ code;

                var codeinput = $("#codes").html();
                var addinput = "<input type='text' name="+ id +" value='' id="+ id +">";
                $("#codes").append(addinput);
            });

            $("#remove").click(function (){
                if (code != 0){

                    $("#code"+code).remove();

                    code -= 1;
                }
            })
        })
    </script>

</head>
<body>
    <h1>amazonテスト</h1>
    <form action="/amazon" method="get">
    <div style="width: 100%">
        <label>ユーザー名</label>
        <br>

    {% if user_name %}
        <input type="text" value={{user_name}} name="user_name" id="user_name">
    {% else %}
        <input type="text" value="" name="user_name" id="user_name">
    {% endif %}

        <br>
        <label>パスワード</label>
        <br>

    {% if user_name %}
        <input type="text" value={{password}} name="password" id="password">
    {% else %}
        <input type="text" value="" name="password" id="password">
    {% endif %}

        <br>
        <label>コード</label>
        <br>

    <div id="codes" style="float:left;">

    {% if codes %}

        {% set serial = 0 %}

        {% for code in codes %}

            {% set name = "code"~serial %}
            <input type="text" id={{ name }} name={{ name }} value={{codes[serial]}}>
            {% set serial = serial + 1 %}

        {% endfor %}

    {% else %}

        <input type="text" id="code0" name="code0" value="">

    {% endif %}

    </div>
    <div style="float:left;">
        <button id="add" type="button">+</button>
        <button id="remove" type="button">-</button>
    </div>
    <br>

    {% if captcha %}

        <label>認証画面</label>
        <br>
        <img src={{captcha}} id="captcha_img">
        <br>
        <a onclick="change_captcha()" href="#">ほかの画像に切り替える</a>
        <br>
        <p>表示されている文字を入力してください</p>
        <input type="text" value="" name="captcha">
        <br>

    {% endif %}

    </div>
    <div style="width: 100%">
        <br>
        <!--<input type="submit" value="送信" onclick="charge_status(); return false;">-->
        <input type="submit" value="送信" onclick="return charge_status();">
        <p id="charge_status"></p>
    </div>
    </form>

</body>
</html>