<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>テキスト</title>
    <script>
        var code = 0;
        function add(){
            code += 1;
            id = 'test'+ code;
            alert(code);
            var testvalue = document.getElementById("testdiv").innerHTML;
            var addvalue = "<input type='text' id="+id+">";
            document.getElementById("testdiv").innerHTML = testvalue + addvalue

        }
    </script>


</head>
<body>
<div id="testdiv" style="float: left">
    <input type="text" id="test0">
</div>
<div style="float: left">
        <button id="add" onclick="add()">+</button>
</div>
</body>
</html>